<h1>This is me</h1>
<p><strong>My name:</strong>Tröll Girl</p>
<p><strong>Birthday:</strong> 22.august</p>
<p><strong>Zodiac signs:</strong> Leo</p>
<p><strong>What you love?</strong> I love gaming, and food ofc</p>
<p><strong>Where are you from?</strong>Im from Serbia</p>

<p><strong>Links=></strong></p>
<p>
  <strong>Instagram:</strong>
  <a href="https://www.instagram.com/kriistinaaa02/" target="_blank">https://www.instagram.com/kriistinaaa02/</a>
</p>
<p>
  <strong>YouTube:</strong>
  <a href="https://www.youtube.com/channel/UCeOHKbl1tU29th-32wa3ByQ?view_as=subscriber" target="_blank">https://www.youtube.com/channel/UCeOHKbl1tU29th-32wa3ByQ?view_as=subscriber</a>
</p>
  
